th {
    background-color: orange;
    color: white;
    font-weight: bold;  
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    table-layout: fixed;
    border: 2px dashed black;
}

.momentoDia {
    text-align: left;
    background-color: orange;
    color: white;
    font-weight: bold;
}

table td,
table th {
    width: 150px;
    height: 25px;
}