* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px 40px;
  background-color: #fff;
  border: 2px solid #aaa;
  border-radius: 10px;
}

header h1 {
  font-size: 1.8rem;
  color: #000000;
  letter-spacing: 2px;
  animation: piscar 1.2s ease-in-out 15;
}


main {
  padding: 30px 40px;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}


.card {
    border: 2px solid #0000008a;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    border-radius: 10px;
  }
    
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-title-blue {
  display: flex;
  justify-content: center; 
  padding: 10px 12px;
  font-size: 0.95rem;
  font-weight: bold;
  color: #2f00ff;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}
.card-title-green {
  justify-content: center;
  display: flex;
  padding: 10px 12px;
  font-size: 0.95rem;
  font-weight: bold;
  color: #0dff00;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}
.card-title-yellow {
  justify-content: center;
  display: flex;
  padding: 10px 12px;
  font-size: 0.95rem;
  font-weight: bold;
  color: #ff9900;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}
.card-title-pink {
  justify-content: center;
  display: flex;
  padding: 10px 12px;
  font-size: 0.95rem;
  font-weight: bold;
  color: #ff00f2;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}

.card-title-red {
  justify-content: center;
  display: flex;
  padding: 10px 12px;
  font-size: 0.95rem;
  font-weight: bold;
  color: #ff0000;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 140px;
  background-color: #ffffff;
}

.card-image img {
  width: 80%;
  max-height: 120px;
  border-radius: 10px;
}

.card-desc-yellow {
  padding: 10px 12px;
  font-size: 0.85rem;
  color: #444;
  border-top: 5px solid #ff9900;
  background-color: #fafafa;
  line-height: 2;
}

.card-desc-red {
  padding: 10px 12px;
  font-size: 0.85rem;
  color: #444;
  border-top: 5px solid #ff0000;
  background-color: #fafafa;
  line-height: 1.4;
}
.card-desc-blue {
  padding: 10px 12px;
  font-size: 0.85rem;
  color: #444;
  border-top: 5px solid #2f00ff;
  background-color: #fafafa;
  line-height: 1.4;
}
.card-desc-pink {
  padding: 10px 12px;
  font-size: 0.85rem;
  color: #444;
  border-top: 5px solid #ff00f2;
  background-color: #fafafa;
  line-height: 1.4;
}
.card-desc-green {
  padding: 10px 12px;
  font-size: 0.85rem;
  color: #444;
  border-top: 5px solid #0dff00;
  background-color: #fafafa;
  line-height: 1.4;
}

